.details {
    text-align: left;
}

.details > .oriname, .releasedate, .description, .genre, .ep, .companies {
    display: block;
}

.details > .rating {
    position: relative;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.details > .year {
    font-size: 50px;
    font-style: italic;
    color: lightgray;
}

.details > .title {
    font-size: 50px;
    font-weight: bold;
}

.details > .oriname {
    font-size: 40px;
    color: gray;
}

.movieImg {
    max-width: 50vh;
    height: auto;
}

.socials {
    justify-content: center;
}

.btn-social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    font-size: 15px;
}

.btn-social:hover {
    filter: brightness(0.8);
    transition: filter 0.5s;
}

.add {
    justify-content: center;
}