.details {
    text-align: left;
}

.details > .oriname, .releasedate, .description, .genre, .ep  {
    display: block;
}

.details > .rating {
    position: relative;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.details > .year {
    font-size: 50px;
    font-style: italic;
    color: lightgray;
}

.details > .title {
    font-size: 50px;
    font-weight: bold;
}

.details > .oriname {
    font-size: 40px;
    color: gray;
}

.movieImg {
    max-width: 50vh;
    height: auto;
}

.btn-social {
    position: relative;
    text-align: center;
    background-color: white;
    height: auto;
    width: 35px;
    border-radius: 100%;
    font-size: 15px;
}

.add {
    justify-content: center;
}