.showBtn {
    border:none;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #444444;
    color: white;
    max-width: 200vw;
    max-height: 350vh;
    margin: 8px;
}

.showBtn:hover {
    filter: brightness(120%);
    transition: filter 0.2s;
}

.showImg {
    position: relative;
    width: 100%;
    max-width: 200vw;
    height: auto;
}

.showBtn > span {
    display: block;
}

.name {
    font-size: 18px;
}

.oriname {
    font-size: 14px;
    font-style: italic;
}

.rating {
    font-size: 12px;
}