.showBtn {
    border:none;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #444444;
    color: white;
    max-width: 200px;
    max-height: 350px;
    margin: 5px;
}

.showBtn > span {
    display: block;
}

.showImg {
    position: relative;
}