.showBtn {
    border:none;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #444444;
    color: white;
    max-width: 200vw;
    max-height: 350vh;
    margin: 8px;
    
    box-shadow: 2px 2px 8px black;
}

.showBtn:hover {
    filter: brightness(120%);
    transform: scale(1.1, 1.1);
    transition: filter 0.2s, transform 0.5s ease;
}

.showBtn:hover:after {
    transform: scale(1.0, 1.0);
    transition: transform 0.5s;
}

.showImg {
    position: relative;
    width: 100%;
    max-width: 200vw;
    height: auto;
}

.showBtn > span {
    display: block;
}

.showBtn > .name {
    font-size: 18px;
}

.showBtn > .oriname {
    font-size: 14px;
    font-style: italic;
}

.showBtn > .rating {
    font-size: 12px;
}