.mynav-opaque {
    background-color: rgba(52, 58, 64, 1);
    transition: background-color 0.5s ease;
}

.mynav-transparent {
    background-color: rgba(52, 58, 64, 0.8);
    transition: background-color 0.3s ease;
}